
body {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  color: rgb(0,0,0)
}
body .graphicCaption {
  background-color: rgb(255,255,192)
}
body A {
  color: rgb(0,128,0)
}
body A math {
  color: rgb(0,128,0)
}
p {
  font-size: 100%;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  text-indent: 18pt
}
em {
  font-style: italic;
  color: rgb(255,0,255)
}
em span.inlineMath {
  color: rgb(255,0,255)
}
span.rm {
  color: rgb(0,0,255)
}
span.rm span.inlineMath {
  color: rgb(0,0,255)
}
span.bs {
  font-weight: 700
}
strong {
  font-weight: 700
}
span.it {
  font-style: italic
}
span.it span.inlineMath {
  color: rgb(0,255,255)
}
span.sl {
  font-family: Times New Roman;
  font-style: italic;
  color: rgb(0,0,255)
}
span.sf {
  font-family: Arial
}
span.sf span.inlineMath {
  color: rgb(0,0,0)
}
span.sc {
  font-family: cmcsc10;
  color: rgb(0,128,0)
}
span.sc span.inlineMath {
  color: rgb(0,128,0)
}
span.tt {
  font-family: Courier New
}
span.tt span.inlineMath {
  color: rgb(0,0,0)
}
dl.description dd p {
  font-size: 100%;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
dl.description {
  font-size: 100%
}
ol li p {
  font-size: 100%;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
ol {
  font-size: 100%
}
ul li p {
  font-size: 100%;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
ul {
  font-size: 100%
}
span.cal {
  font-family: cmsy10;
  color: rgb(200,200,200)
}
span.cal span.inlineMath {
  color: rgb(255,0,255)
}
span.tiny {
  font-size: 50%;
  color: rgb(255,0,255)
}
span.scriptsize {
  font-size: 67%;
  color: rgb(255,0,255)
}
span.footnotesize {
  font-size: 75%;
  color: rgb(255,0,255)
}
span.small {
  font-size: 83%;
  color: rgb(255,0,255)
}
span.normalsize {
  font-size: 100%;
  color: rgb(255,0,255)
}
span.large1 {
  font-size: 117%;
  color: rgb(255,0,255)
}
span.large2 {
  font-size: 133%;
  color: rgb(255,0,255)
}
span.large3 {
  font-size: 150%;
  color: rgb(255,0,255)
}
span.huge1 {
  font-size: 167%;
  color: rgb(255,0,255)
}
span.huge2 {
  font-size: 183%;
  color: rgb(255,0,255)
}
ol.thebibliography li p {
  font-size: 100%;
  margin-left: 0pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 18pt;
  padding-top: 0pt;
  padding-right: 0pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
ol.thebibliography {
  font-size: 100%
}
p.quotation {
  font-size: 100%;
  margin-left: 24pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 24pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
p.quote {
  font-size: 100%;
  margin-left: 24pt;
  margin-top: 0pt;
  margin-right: 0pt;
  margin-bottom: 0pt;
  padding-left: 0pt;
  padding-top: 0pt;
  padding-right: 24pt;
  padding-bottom: 0pt;
  text-indent: 0pt
}
p.center {
  font-size: 100%;
  text-align: center
}
span.frak {
  font-family: EUFM10;
  font-style: normal;
  color: rgb(192,192,192)
}
span.frak span.inlineMath {
  color: rgb(255,0,255)
}
span.Bbb {
  font-family: MSBM10;
  color: rgb(192,192,192)
}
p.NFAcknowledge {
  font-size: 100%
}
div.NFAcknowledge {
  font-size: 100%
}
p.NFAcknowledge-FirstPara {
  font-size: 100%
}
p.NFAuthor {
  font-size: 100%
}
div.NFAuthor {
  font-size: 100%
}
p.NFAuthor-FirstPara {
  font-size: 100%
}
p.NFChair {
  font-size: 100%
}
div.NFChair {
  font-size: 100%
}
p.NFChair-FirstPara {
  font-size: 100%
}
p.NFChairperson {
  font-size: 100%
}
div.NFChairperson {
  font-size: 100%
}
p.NFChairperson-FirstPara {
  font-size: 100%
}
p.NFCitystate {
  font-size: 100%
}
div.NFCitystate {
  font-size: 100%
}
p.NFCitystate-FirstPara {
  font-size: 100%
}
p.NFCochaira {
  font-size: 100%
}
div.NFCochaira {
  font-size: 100%
}
p.NFCochaira-FirstPara {
  font-size: 100%
}
p.NFCochairb {
  font-size: 100%
}
div.NFCochairb {
  font-size: 100%
}
p.NFCochairb-FirstPara {
  font-size: 100%
}
p.NFCollege {
  font-size: 100%
}
div.NFCollege {
  font-size: 100%
}
p.NFCollege-FirstPara {
  font-size: 100%
}
p.NFCommittee {
  font-size: 100%
}
div.NFCommittee {
  font-size: 100%
}
p.NFCommittee-FirstPara {
  font-size: 100%
}
p.NFCommitteesigna {
  font-size: 100%
}
div.NFCommitteesigna {
  font-size: 100%
}
p.NFCommitteesigna-FirstPara {
  font-size: 100%
}
p.NFCommitteesignb {
  font-size: 100%
}
div.NFCommitteesignb {
  font-size: 100%
}
p.NFCommitteesignb-FirstPara {
  font-size: 100%
}
p.NFCommitteesignc {
  font-size: 100%
}
div.NFCommitteesignc {
  font-size: 100%
}
p.NFCommitteesignc-FirstPara {
  font-size: 100%
}
p.NFCopyright {
  font-size: 100%
}
div.NFCopyright {
  font-size: 100%
}
p.NFCopyright-FirstPara {
  font-size: 100%
}
p.NFDate {
  font-size: 100%
}
div.NFDate {
  font-size: 100%
}
p.NFDate-FirstPara {
  font-size: 100%
}
p.NFDedication {
  font-size: 100%
}
div.NFDedication {
  font-size: 100%
}
p.NFDedication-FirstPara {
  font-size: 100%
}
p.NFDegree {
  font-size: 100%
}
div.NFDegree {
  font-size: 100%
}
p.NFDegree-FirstPara {
  font-size: 100%
}
p.NFDegreename {
  font-size: 100%
}
div.NFDegreename {
  font-size: 100%
}
p.NFDegreename-FirstPara {
  font-size: 100%
}
p.NFDessertationreq {
  font-size: 100%
}
div.NFDessertationreq {
  font-size: 100%
}
p.NFDessertationreq-FirstPara {
  font-size: 100%
}
p.NFDissertation {
  font-size: 100%
}
div.NFDissertation {
  font-size: 100%
}
p.NFDissertation-FirstPara {
  font-size: 100%
}
p.NFFirstTag {
  font-size: 100%
}
div.NFFirstTag {
  font-size: 100%
}
p.NFFirstTag-FirstPara {
  font-size: 100%
}
p.NFInformationaMA {
  font-size: 100%
}
div.NFInformationaMA {
  font-size: 100%
}
p.NFInformationaMA-FirstPara {
  font-size: 100%
}
p.NFInformationalIntMaster {
  font-size: 100%
}
div.NFInformationalIntMaster {
  font-size: 100%
}
p.NFInformationalIntMaster-FirstPara {
  font-size: 100%
}
p.NFIntdegreename {
  font-size: 100%
}
div.NFIntdegreename {
  font-size: 100%
}
p.NFIntdegreename-FirstPara {
  font-size: 100%
}
p.NFIntdissertation {
  font-size: 100%
}
div.NFIntdissertation {
  font-size: 100%
}
p.NFIntdissertation-FirstPara {
  font-size: 100%
}
p.NFIntsubject {
  font-size: 100%
}
div.NFIntsubject {
  font-size: 100%
}
p.NFIntsubject-FirstPara {
  font-size: 100%
}
p.NFMajorSubj {
  font-size: 100%
}
div.NFMajorSubj {
  font-size: 100%
}
p.NFMajorSubj-FirstPara {
  font-size: 100%
}
p.NFMajorsubject {
  font-size: 100%
}
div.NFMajorsubject {
  font-size: 100%
}
p.NFMajorsubject-FirstPara {
  font-size: 100%
}
p.NFMasterabstract {
  font-size: 100%
}
div.NFMasterabstract {
  font-size: 100%
}
p.NFMasterabstract-FirstPara {
  font-size: 100%
}
p.NFMinorSubj {
  font-size: 100%
}
div.NFMinorSubj {
  font-size: 100%
}
p.NFMinorSubj-FirstPara {
  font-size: 100%
}
p.NFMinorsubject {
  font-size: 100%
}
div.NFMinorsubject {
  font-size: 100%
}
p.NFMinorsubject-FirstPara {
  font-size: 100%
}
p.NFParagrA {
  font-size: 100%
}
div.NFParagrA {
  font-size: 100%
}
p.NFParagrA-FirstPara {
  font-size: 100%
}
p.NFParagrB {
  font-size: 100%
}
div.NFParagrB {
  font-size: 100%
}
p.NFParagrB-FirstPara {
  font-size: 100%
}
p.NFPositionOne {
  font-size: 100%
}
div.NFPositionOne {
  font-size: 100%
}
p.NFPositionOne-FirstPara {
  font-size: 100%
}
p.NFPositionTwo {
  font-size: 100%
}
div.NFPositionTwo {
  font-size: 100%
}
p.NFPositionTwo-FirstPara {
  font-size: 100%
}
p.NFSchool {
  font-size: 100%
}
div.NFSchool {
  font-size: 100%
}
p.NFSchool-FirstPara {
  font-size: 100%
}
p.NFSignAuthor {
  font-size: 100%
}
div.NFSignAuthor {
  font-size: 100%
}
p.NFSignAuthor-FirstPara {
  font-size: 100%
}
p.NFSignPThesisTitle {
  font-size: 100%
}
div.NFSignPThesisTitle {
  font-size: 100%
}
p.NFSignPThesisTitle-FirstPara {
  font-size: 100%
}
p.NFSignerOne {
  font-size: 100%
}
div.NFSignerOne {
  font-size: 100%
}
p.NFSignerOne-FirstPara {
  font-size: 100%
}
p.NFSignerTwo {
  font-size: 100%
}
div.NFSignerTwo {
  font-size: 100%
}
p.NFSignerTwo-FirstPara {
  font-size: 100%
}
p.NFSignpage {
  font-size: 100%
}
div.NFSignpage {
  font-size: 100%
}
p.NFSignpage-FirstPara {
  font-size: 100%
}
p.NFSpecialization {
  font-size: 100%
}
div.NFSpecialization {
  font-size: 100%
}
p.NFSpecialization-FirstPara {
  font-size: 100%
}
p.NFTaginformation {
  font-size: 100%
}
div.NFTaginformation {
  font-size: 100%
}
p.NFTaginformation-FirstPara {
  font-size: 100%
}
p.NFTcopyright {
  font-size: 100%
}
div.NFTcopyright {
  font-size: 100%
}
p.NFTcopyright-FirstPara {
  font-size: 100%
}
p.NFThesisauthor {
  font-size: 100%
}
div.NFThesisauthor {
  font-size: 100%
}
p.NFThesisauthor-FirstPara {
  font-size: 100%
}
p.NFThesisdate {
  font-size: 100%
}
div.NFThesisdate {
  font-size: 100%
}
p.NFThesisdate-FirstPara {
  font-size: 100%
}
p.NFThesisreq {
  font-size: 100%
}
div.NFThesisreq {
  font-size: 100%
}
p.NFThesisreq-FirstPara {
  font-size: 100%
}
p.NFThesistitle {
  font-size: 100%
}
div.NFThesistitle {
  font-size: 100%
}
p.NFThesistitle-FirstPara {
  font-size: 100%
}
p.NFTitle {
  font-size: 100%
}
div.NFTitle {
  font-size: 100%
}
p.NFTitle-FirstPara {
  font-size: 100%
}
p.NFUniversity {
  font-size: 100%
}
div.NFUniversity {
  font-size: 100%
}
p.NFUniversity-FirstPara {
  font-size: 100%
}
p.NFVita {
  font-size: 100%
}
div.NFVita {
  font-size: 100%
}
p.NFVita-FirstPara {
  font-size: 100%
}
p.NFYear {
  font-size: 100%
}
div.NFYear {
  font-size: 100%
}
p.NFYear-FirstPara {
  font-size: 100%
}
h1.appendix {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.appendix span.inlineMath {
  color: rgb(255,0,0)
}
h2.appendixSection {
  font-family: Arial;
  font-size: 150%;
  color: rgb(0,0,255)
}
h2.appendixSection span.inlineMath {
  color: rgb(255,0,0)
}
h1.bibsection {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.bibsection span.inlineMath {
  color: rgb(255,0,0)
}
h1.chapter {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.chapter span.inlineMath {
  color: rgb(255,0,0)
}
h1.contentssection {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.contentssection span.inlineMath {
  color: rgb(255,0,0)
}
h5.paragraph {
  font-family: Times New Roman;
  font-size: 100%;
  color: rgb(0,0,255)
}
h5.paragraph span.inlineMath {
  color: rgb(255,0,0)
}
h2.section {
  font-family: Arial;
  font-size: 150%;
  color: rgb(0,0,255)
}
h2.section span.inlineMath {
  color: rgb(255,0,0)
}
h1.specialtocentry {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.specialtocentry span.inlineMath {
  color: rgb(255,0,0)
}
h3.subsection {
  font-family: Times New Roman;
  font-size: 117%;
  color: rgb(0,0,255)
}
h3.subsection span.inlineMath {
  color: rgb(255,0,0)
}
h4.subsubsection {
  font-family: Times New Roman;
  font-size: 100%;
  color: rgb(0,0,255)
}
h4.subsubsection span.inlineMath {
  color: rgb(255,0,0)
}
h1.unnumbered {
  font-family: Arial;
  font-size: 200%;
  color: rgb(0,0,255)
}
h1.unnumbered span.inlineMath {
  color: rgb(255,0,0)
}
span.squeeze {
  font-style: normal;
  font-weight: 400;
  color: rgb(0,0,0)
}
span.squeeze span.inlineMath {
  color: rgb(0,0,0)
}
span.xyz {
  font-family: Times New Roman;
  font-style: normal;
  font-weight: 400;
  color: rgb(0,0,0)
}
span.xyz span.inlineMath {
  color: rgb(0,0,0)
}
span.huge2 span.huge2 {
  font-size: 100%
}
span.huge2 span.large3 {
  font-size: 82%
}
span.huge2 span.large2 {
  font-size: 73%
}
span.huge2 span.footnotesize {
  font-size: 41%
}
span.huge2 span.huge1 {
  font-size: 91%
}
span.huge2 span.large1 {
  font-size: 64%
}
span.huge2 span.normalsize {
  font-size: 55%
}
span.huge2 span.scriptsize {
  font-size: 36%
}
span.huge2 span.small {
  font-size: 45%
}
span.huge2 span.tiny {
  font-size: 27%
}
span.large3 span.huge2 {
  font-size: 122%
}
span.large3 span.large3 {
  font-size: 100%
}
span.large3 span.large2 {
  font-size: 89%
}
span.large3 span.footnotesize {
  font-size: 50%
}
span.large3 span.huge1 {
  font-size: 111%
}
span.large3 span.large1 {
  font-size: 78%
}
span.large3 span.normalsize {
  font-size: 67%
}
span.large3 span.scriptsize {
  font-size: 44%
}
span.large3 span.small {
  font-size: 56%
}
span.large3 span.tiny {
  font-size: 33%
}
span.large2 span.huge2 {
  font-size: 138%
}
span.large2 span.large3 {
  font-size: 113%
}
span.large2 span.large2 {
  font-size: 100%
}
span.large2 span.footnotesize {
  font-size: 56%
}
span.large2 span.huge1 {
  font-size: 125%
}
span.large2 span.large1 {
  font-size: 88%
}
span.large2 span.normalsize {
  font-size: 75%
}
span.large2 span.scriptsize {
  font-size: 50%
}
span.large2 span.small {
  font-size: 63%
}
span.large2 span.tiny {
  font-size: 38%
}
h1.appendix span.huge2 {
  font-size: 92%
}
h1.appendix span.large3 {
  font-size: 75%
}
h1.appendix span.large2 {
  font-size: 67%
}
h1.appendix span.footnotesize {
  font-size: 38%
}
h1.appendix span.huge1 {
  font-size: 83%
}
h1.appendix span.large1 {
  font-size: 58%
}
h1.appendix span.normalsize {
  font-size: 50%
}
h1.appendix span.scriptsize {
  font-size: 33%
}
h1.appendix span.small {
  font-size: 42%
}
h1.appendix span.tiny {
  font-size: 25%
}
h2.appendixSection span.huge2 {
  font-size: 122%
}
h2.appendixSection span.large3 {
  font-size: 100%
}
h2.appendixSection span.large2 {
  font-size: 89%
}
h2.appendixSection span.footnotesize {
  font-size: 50%
}
h2.appendixSection span.huge1 {
  font-size: 111%
}
h2.appendixSection span.large1 {
  font-size: 78%
}
h2.appendixSection span.normalsize {
  font-size: 67%
}
h2.appendixSection span.scriptsize {
  font-size: 44%
}
h2.appendixSection span.small {
  font-size: 56%
}
h2.appendixSection span.tiny {
  font-size: 33%
}
h1.bibsection span.huge2 {
  font-size: 92%
}
h1.bibsection span.large3 {
  font-size: 75%
}
h1.bibsection span.large2 {
  font-size: 67%
}
h1.bibsection span.footnotesize {
  font-size: 38%
}
h1.bibsection span.huge1 {
  font-size: 83%
}
h1.bibsection span.large1 {
  font-size: 58%
}
h1.bibsection span.normalsize {
  font-size: 50%
}
h1.bibsection span.scriptsize {
  font-size: 33%
}
h1.bibsection span.small {
  font-size: 42%
}
h1.bibsection span.tiny {
  font-size: 25%
}
h1.chapter span.huge2 {
  font-size: 92%
}
h1.chapter span.large3 {
  font-size: 75%
}
h1.chapter span.large2 {
  font-size: 67%
}
h1.chapter span.footnotesize {
  font-size: 38%
}
h1.chapter span.huge1 {
  font-size: 83%
}
h1.chapter span.large1 {
  font-size: 58%
}
h1.chapter span.normalsize {
  font-size: 50%
}
h1.chapter span.scriptsize {
  font-size: 33%
}
h1.chapter span.small {
  font-size: 42%
}
h1.chapter span.tiny {
  font-size: 25%
}
h1.contentssection span.huge2 {
  font-size: 92%
}
h1.contentssection span.large3 {
  font-size: 75%
}
h1.contentssection span.large2 {
  font-size: 67%
}
h1.contentssection span.footnotesize {
  font-size: 38%
}
h1.contentssection span.huge1 {
  font-size: 83%
}
h1.contentssection span.large1 {
  font-size: 58%
}
h1.contentssection span.normalsize {
  font-size: 50%
}
h1.contentssection span.scriptsize {
  font-size: 33%
}
h1.contentssection span.small {
  font-size: 42%
}
h1.contentssection span.tiny {
  font-size: 25%
}
span.footnotesize span.huge2 {
  font-size: 244%
}
span.footnotesize span.large3 {
  font-size: 200%
}
span.footnotesize span.large2 {
  font-size: 178%
}
span.footnotesize span.footnotesize {
  font-size: 100%
}
span.footnotesize span.huge1 {
  font-size: 222%
}
span.footnotesize span.large1 {
  font-size: 156%
}
span.footnotesize span.normalsize {
  font-size: 133%
}
span.footnotesize span.scriptsize {
  font-size: 89%
}
span.footnotesize span.small {
  font-size: 111%
}
span.footnotesize span.tiny {
  font-size: 67%
}
span.huge1 span.huge2 {
  font-size: 110%
}
span.huge1 span.large3 {
  font-size: 90%
}
span.huge1 span.large2 {
  font-size: 80%
}
span.huge1 span.footnotesize {
  font-size: 45%
}
span.huge1 span.huge1 {
  font-size: 100%
}
span.huge1 span.large1 {
  font-size: 70%
}
span.huge1 span.normalsize {
  font-size: 60%
}
span.huge1 span.scriptsize {
  font-size: 40%
}
span.huge1 span.small {
  font-size: 50%
}
span.huge1 span.tiny {
  font-size: 30%
}
span.large1 span.huge2 {
  font-size: 157%
}
span.large1 span.large3 {
  font-size: 129%
}
span.large1 span.large2 {
  font-size: 114%
}
span.large1 span.footnotesize {
  font-size: 64%
}
span.large1 span.huge1 {
  font-size: 143%
}
span.large1 span.large1 {
  font-size: 100%
}
span.large1 span.normalsize {
  font-size: 86%
}
span.large1 span.scriptsize {
  font-size: 57%
}
span.large1 span.small {
  font-size: 71%
}
span.large1 span.tiny {
  font-size: 43%
}
span.scriptsize span.huge2 {
  font-size: 275%
}
span.scriptsize span.large3 {
  font-size: 225%
}
span.scriptsize span.large2 {
  font-size: 200%
}
span.scriptsize span.footnotesize {
  font-size: 113%
}
span.scriptsize span.huge1 {
  font-size: 250%
}
span.scriptsize span.large1 {
  font-size: 175%
}
span.scriptsize span.normalsize {
  font-size: 150%
}
span.scriptsize span.scriptsize {
  font-size: 100%
}
span.scriptsize span.small {
  font-size: 125%
}
span.scriptsize span.tiny {
  font-size: 75%
}
h2.section span.huge2 {
  font-size: 122%
}
h2.section span.large3 {
  font-size: 100%
}
h2.section span.large2 {
  font-size: 89%
}
h2.section span.footnotesize {
  font-size: 50%
}
h2.section span.huge1 {
  font-size: 111%
}
h2.section span.large1 {
  font-size: 78%
}
h2.section span.normalsize {
  font-size: 67%
}
h2.section span.scriptsize {
  font-size: 44%
}
h2.section span.small {
  font-size: 56%
}
h2.section span.tiny {
  font-size: 33%
}
span.small span.huge2 {
  font-size: 220%
}
span.small span.large3 {
  font-size: 180%
}
span.small span.large2 {
  font-size: 160%
}
span.small span.footnotesize {
  font-size: 90%
}
span.small span.huge1 {
  font-size: 200%
}
span.small span.large1 {
  font-size: 140%
}
span.small span.normalsize {
  font-size: 120%
}
span.small span.scriptsize {
  font-size: 80%
}
span.small span.small {
  font-size: 100%
}
span.small span.tiny {
  font-size: 60%
}
h1.specialtocentry span.huge2 {
  font-size: 92%
}
h1.specialtocentry span.large3 {
  font-size: 75%
}
h1.specialtocentry span.large2 {
  font-size: 67%
}
h1.specialtocentry span.footnotesize {
  font-size: 38%
}
h1.specialtocentry span.huge1 {
  font-size: 83%
}
h1.specialtocentry span.large1 {
  font-size: 58%
}
h1.specialtocentry span.normalsize {
  font-size: 50%
}
h1.specialtocentry span.scriptsize {
  font-size: 33%
}
h1.specialtocentry span.small {
  font-size: 42%
}
h1.specialtocentry span.tiny {
  font-size: 25%
}
h3.subsection span.huge2 {
  font-size: 157%
}
h3.subsection span.large3 {
  font-size: 129%
}
h3.subsection span.large2 {
  font-size: 114%
}
h3.subsection span.footnotesize {
  font-size: 64%
}
h3.subsection span.huge1 {
  font-size: 143%
}
h3.subsection span.large1 {
  font-size: 100%
}
h3.subsection span.normalsize {
  font-size: 86%
}
h3.subsection span.scriptsize {
  font-size: 57%
}
h3.subsection span.small {
  font-size: 71%
}
h3.subsection span.tiny {
  font-size: 43%
}
span.tiny span.huge2 {
  font-size: 367%
}
span.tiny span.large3 {
  font-size: 300%
}
span.tiny span.large2 {
  font-size: 267%
}
span.tiny span.footnotesize {
  font-size: 150%
}
span.tiny span.huge1 {
  font-size: 333%
}
span.tiny span.large1 {
  font-size: 233%
}
span.tiny span.normalsize {
  font-size: 200%
}
span.tiny span.scriptsize {
  font-size: 133%
}
span.tiny span.small {
  font-size: 167%
}
span.tiny span.tiny {
  font-size: 100%
}
h1.unnumbered span.huge2 {
  font-size: 92%
}
h1.unnumbered span.large3 {
  font-size: 75%
}
h1.unnumbered span.large2 {
  font-size: 67%
}
h1.unnumbered span.footnotesize {
  font-size: 38%
}
h1.unnumbered span.huge1 {
  font-size: 83%
}
h1.unnumbered span.large1 {
  font-size: 58%
}
h1.unnumbered span.normalsize {
  font-size: 50%
}
h1.unnumbered span.scriptsize {
  font-size: 33%
}
h1.unnumbered span.small {
  font-size: 42%
}
h1.unnumbered span.tiny {
  font-size: 25%
}
pre span.huge2 {
  font-size: 220%
}
pre span.large3 {
  font-size: 180%
}
pre span.large2 {
  font-size: 160%
}
pre h1.appendix {
  font-size: 240%
}
pre h2.appendixSection {
  font-size: 180%
}
pre h1.bibsection {
  font-size: 240%
}
pre h1.chapter {
  font-size: 240%
}
pre h1.contentssection {
  font-size: 240%
}
pre span.footnotesize {
  font-size: 90%
}
pre span.huge1 {
  font-size: 200%
}
pre span.large1 {
  font-size: 140%
}
pre span.normalsize {
  font-size: 120%
}
pre span.scriptsize {
  font-size: 80%
}
pre h2.section {
  font-size: 180%
}
pre span.small {
  font-size: 100%
}
pre h1.specialtocentry {
  font-size: 240%
}
pre h3.subsection {
  font-size: 140%
}
pre span.tiny {
  font-size: 60%
}
pre h1.unnumbered {
  font-size: 240%
}
pre pre {
  font-size: 100%
}