[FILTER]
\newfield{AbstractDis}{Abstract for Dissertation}
\newfield{AckPage}{Acknowledgments}
\newfield{NFAuthor}{Author:}
\newfield{NFChair}{Chair}
\newfield{NFChairperson}{Chair Person: }
\newfield{ChapTitlePg}{ChapTitlePg}
\newfield{NFCochaira}{Co-chair 1:}
\newfield{NFCochairb}{Co-chair 2: }
\newfield{NFCommittee}{Committee}
\newfield{NFCommitteesigna}{Committee Sign 1: }
\newfield{NFCommitteesignb}{Committee Sign 2: }
\newfield{NFCommitteesignc}{Committee Sign 3: }
\newfield{NFCopyright}{Copyright}
\newfield{NFDate}{Date:}
\newfield{NFDegree}{Degree}
\newfield{NFDegreename}{Degree Name}
\newfield{NFDessertationreq}{Dissertation Requirements}
\newfield{NFDissertation}{Dissertation Name: }
\newfield{NFFirstTag}{FirstTag}
\newfield{NFInformationaMA}{Informational Master of Arts}
\newfield{NFInformationalIntMaster}{Informational Interdisciplinary Master of Arts}
\newfield{NFIntdegreename}{Interdisciplinary Program Degreename}
\newfield{NFIntdissertation}{Interdisciplinary Dissertation: }
\newfield{NFIntsubject}{Interdisciplinary Subject}
\newfield{NFMajorSubj}{MajorSubj}
\newfield{NFMajorsubject}{Major Subject}
\newfield{NFMasterabstract}{Master Abstract: }
\newfield{NFMinorSubj}{MinorSubj}
\newfield{NFMinorsubject}{Minor Subject}
\newfield{NFParagrA}{ParagrA}
\newfield{NFParagrB}{ParagrB}
\newfield{NFPositionOne}{PositionOne}
\newfield{NFPositionTwo}{PositionTwo}
\newfield{NFSchool}{School}
\newfield{SignPage}{Sign Page}
\newfield{NFSignerOne}{SignerOne}
\newfield{NFSignerTwo}{SignerTwo}
\newfield{NFSignpage}{Signpage}
\newfield{NFTaginformation}{Tag Information}
\newfield{NFTcopyright}{The Copyright}
\newfield{NFThesisauthor}{Thesis Author}
\newfield{NFThesisdate}{Thesis Date}
\newfield{NFThesisreq}{Thesis requirements: }
\newfield{NFThesistitle}{Thesis Title}
\newfield{NFTitle}{Title:}
\newfield{TitleDisMajorMinor}{Dissertation With Major Minor}
\newfield{NFUniversity}{University}
\newfield{abstract}{abstract}
\newfield{verse}{verse}
\newtheorem{corollary}{corollary}
\newtheorem{example}{example}
\newtheorem{lemma}{lemma}
\newtheorem{proposition}{proposition}
\newtheorem{remark}{remark}
\newtheorem{theorem}{theorem}
\TCIEnd
;TrueType font names without Blackboard Bold and Fraktur

[Defaults]
STYLE_NAME=DefaultStyle
ITALICS_MODE=2
NORMAL_SLANT=0
ITALIC_SLANT=1
NORMAL_WEIGHT=400
BOLD_WEIGHT=700
FONT_FACE=Times New Roman
FONT_SIZE=12
TEXT_COLOR=R0,G0,B0
FONT_WEIGHT=400
FONT_SLANT=0
MATH_FACE=Times New Roman
MATH_COLOR=R255,G0,B0
FUNCTION_COLOR=R128,G128,B128
ITALICS_IN_MATH=1
SCRIPT_SIZE=70
SCRIPTSCRIPT_SIZE=50
OPERATOR_SIZE=120
BIGOPERATOR_SIZE=150
PARAGRAPH_INDENT_RIGHT=18
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=0
PARAGRAPH_LEADING_BEFORE=0
PARAGRAPH_LEADING_AFTER=0
LINE_LEADING_BEFORE=0
LINE_LEADING_AFTER=0
LINE_JUSTIFICATION=1
DISPLAY_VSPACE=0
CAPTION_BACKGROUND_COLOR=R255,G255,B192



[Body Text]
TAG_TYPE=PARA
PARAGRAPH_INDENT_FIRST=18

[em]
ALIAS=Emphasize
TAG_TYPE=TEXT
FONT_SLANT=1
TEXT_COLOR=R255,G0,B255
MATH_COLOR=R255,G0,B255

[rm]
ALIAS=Roman
TAG_TYPE=TEXT
TEXT_COLOR=R0,G0,B255
MATH_COLOR=R0,G0,B255

[bf]
ALIAS=Bold
TAG_TYPE=TEXT
FONT_WEIGHT=700

[it]
ALIAS=Italic
TAG_TYPE=TEXT
FONT_SLANT=1
MATH_COLOR=R0,G255,B255

[sl]
ALIAS=Slanted
TAG_TYPE=TEXT
FONT_FACE=Times New Roman
FONT_SLANT=1
TEXT_COLOR=R0,G0,B255

[sf]
ALIAS=Sans serif
TAG_TYPE=TEXT
FONT_FACE=Arial
MATH_COLOR=R0,G0,B0

[sc]
ALIAS=Small caps
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESTEXT
FONT_FACE=cmcsc10
TEXT_COLOR=R0,G128,B0
MATH_COLOR=R0,G128,B0

[tt]
ALIAS=Typewriter
TAG_TYPE=TEXT
FONT_FACE=Courier New
MATH_COLOR=R0,G0,B0

[description]
ALIAS=Custom item
TAG_TYPE=LISTENV
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[enumerate]
ALIAS=Numbered item
TAG_TYPE=LISTENV
TAG_LEADIN=#
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[itemize]
ALIAS=Bullet item
TAG_TYPE=LISTENV
TAG_LEADIN=·
TAG_BEHAVIOR=NOSTRUCTURETAGS
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0

[cal]
ALIAS=Calligraphic
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=cmsy10
FONT_FACE=cmsy10
TEXT_COLOR=R200,G200,B200
MATH_COLOR=R255,G0,B255

[newtheorem]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18

[newenvironment]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=36
TAG_BEHAVIOR=LISTSTART
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18

[tiny]
TAG_TYPE=TEXT
FONT_SIZE=6
TEXT_COLOR=R255,G0,B255

[scriptsize]
TAG_TYPE=TEXT
FONT_SIZE=8
TEXT_COLOR=R255,G0,B255

[footnotesize]
TAG_TYPE=TEXT
FONT_SIZE=9
TEXT_COLOR=R255,G0,B255

[small]
TAG_TYPE=TEXT
FONT_SIZE=10
TEXT_COLOR=R255,G0,B255

[normalsize]
TAG_TYPE=TEXT
FONT_SIZE=12
TEXT_COLOR=R255,G0,B255

[large]
TAG_TYPE=TEXT
FONT_SIZE=14
TEXT_COLOR=R255,G0,B255

[Large]
TAG_TYPE=TEXT
FONT_SIZE=16
TEXT_COLOR=R255,G0,B255

[LARGE]
TAG_TYPE=TEXT
FONT_SIZE=18
TEXT_COLOR=R255,G0,B255

[huge]
TAG_TYPE=TEXT
FONT_SIZE=20
TEXT_COLOR=R255,G0,B255

[Huge]
TAG_TYPE=TEXT
FONT_SIZE=22
TEXT_COLOR=R255,G0,B255

[thebibliography]
ALIAS=Bibliography item
TAG_TYPE=BIBENV
TAG_LEADIN=bibitem
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOMULTIPARA
PARAGRAPH_INDENT_LEFT=18
PARAGRAPH_INDENT_FIRST=0
PARAGRAPH_INDENT_REST=18

[quotation]
TAG_TYPE=PARA
ALIAS=Body Quotation
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[quote]
TAG_TYPE=PARA
ALIAS=Body Quote
PARAGRAPH_INDENT_RIGHT=24
PARAGRAPH_INDENT_LEFT=24

[center]
TAG_TYPE=PARA
ALIAS=Body Center
LINE_JUSTIFICATION=2

[verbatim]
TAG_TYPE=PARA
ALIAS=Body Verbatim
PARAGRAPH_INDENT_RIGHT=0
PARAGRAPH_INDENT_LEFT=0
TAG_BEHAVIOR=FORCESTEXT|NOLINEBREAK|PRESERVESPACES
FONT_FACE=Courier New
FONT_SIZE=10

[newfield]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[f_12]
ALIAS=Make LOF
TAG_TYPE=FIELD
TAG_LEADIN=Make LOF
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_13]
ALIAS=Make LOT
TAG_TYPE=FIELD
TAG_LEADIN=Make LOT
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[f_14]
ALIAS=Make TOC
TAG_TYPE=FIELD
TAG_LEADIN=Make TOC
TAG_BEHAVIOR=FRONTMATTER|NOSTRUCTURETAGS|NOENVTAGS
PARAGRAPH_INDENT_LEFT=35
PARAGRAPH_INDENT_FIRST=0

[newlist]
TAG_TYPE=TLTEMPLATE
PARAGRAPH_INDENT_LEFT=70
PARAGRAPH_INDENT_FIRST=0

[frak]
ALIAS=Fraktur
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_SLANT=1
FONT_FACE=EUFM10
TEXT_COLOR=R192,G192,B192
MATH_COLOR=R255,G0,B255

[Bbb]
ALIAS=Blackboard bold
TAG_TYPE=TEXT
TAG_BEHAVIOR=FORCESMATH
FONT_FACE=MSBM10
TEXT_COLOR=R192,G192,B192

[Hyperlink]
TAG_TYPE=INTERNAL
TEXT_COLOR=R0,G128,B0
MATH_COLOR=R0,G128,B0

[ProgramCall]
TAG_TYPE=INTERNAL
TEXT_COLOR=R128,G0,B0
MATH_COLOR=R128,G0,B0



[NFAuthor]
ALIAS=Author:
TAG_TYPE=FIELD
TAG_LEADIN=Author:
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFChair]
ALIAS=Chair
TAG_TYPE=FIELD
TAG_LEADIN=Chair
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFChairperson]
ALIAS=Chair Person: 
TAG_TYPE=FIELD
TAG_LEADIN=Chair Person: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCochaira]
ALIAS=Co-chair 1:
TAG_TYPE=FIELD
TAG_LEADIN=Co-chair 1:
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCochairb]
ALIAS=Co-chair 2: 
TAG_TYPE=FIELD
TAG_LEADIN=Co-chair 2: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCommittee]
ALIAS=Committee
TAG_TYPE=FIELD
TAG_LEADIN=Committee
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCommitteesigna]
ALIAS=Committee Sign 1: 
TAG_TYPE=FIELD
TAG_LEADIN=Committee Sign 1: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCommitteesignb]
ALIAS=Committee Sign 2: 
TAG_TYPE=FIELD
TAG_LEADIN=Committee Sign 2: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCommitteesignc]
ALIAS=Committee Sign 3: 
TAG_TYPE=FIELD
TAG_LEADIN=Committee Sign 3: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFCopyright]
ALIAS=Copyright
TAG_TYPE=FIELD
TAG_LEADIN=Copyright
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFDate]
ALIAS=Date:
TAG_TYPE=FIELD
TAG_LEADIN=Date:
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFDegree]
ALIAS=Degree
TAG_TYPE=FIELD
TAG_LEADIN=Degree
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFDegreename]
ALIAS=Degree Name
TAG_TYPE=FIELD
TAG_LEADIN=Degree Name
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFDessertationreq]
ALIAS=Dissertation Requirements
TAG_TYPE=FIELD
TAG_LEADIN=Dissertation Requirements
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFDissertation]
ALIAS=Dissertation Name: 
TAG_TYPE=FIELD
TAG_LEADIN=Dissertation Name: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFFirstTag]
ALIAS=FirstTag
TAG_TYPE=FIELD
TAG_LEADIN=FirstTag
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFInformationaMA]
ALIAS=Informational Master of Arts
TAG_TYPE=FIELD
TAG_LEADIN=Informational Master of Arts
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFInformationalIntMaster]
ALIAS=Informational Interdisciplinary Master of Arts
TAG_TYPE=FIELD
TAG_LEADIN=Informational Interdisciplinary Master of Arts
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFIntdegreename]
ALIAS=Interdisciplinary Program Degreename
TAG_TYPE=FIELD
TAG_LEADIN=Interdisciplinary Program Degreename
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFIntdissertation]
ALIAS=Interdisciplinary Dissertation: 
TAG_TYPE=FIELD
TAG_LEADIN=Interdisciplinary Dissertation: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFIntsubject]
ALIAS=Interdisciplinary Subject
TAG_TYPE=FIELD
TAG_LEADIN=Interdisciplinary Subject
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFMajorSubj]
ALIAS=MajorSubj
TAG_TYPE=FIELD
TAG_LEADIN=MajorSubj
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFMajorsubject]
ALIAS=Major Subject
TAG_TYPE=FIELD
TAG_LEADIN=Major Subject
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFMasterabstract]
ALIAS=Master Abstract: 
TAG_TYPE=FIELD
TAG_LEADIN=Master Abstract: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFMinorSubj]
ALIAS=MinorSubj
TAG_TYPE=FIELD
TAG_LEADIN=MinorSubj
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFMinorsubject]
ALIAS=Minor Subject
TAG_TYPE=FIELD
TAG_LEADIN=Minor Subject
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFParagrA]
ALIAS=ParagrA
TAG_TYPE=FIELD
TAG_LEADIN=ParagrA
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFParagrB]
ALIAS=ParagrB
TAG_TYPE=FIELD
TAG_LEADIN=ParagrB
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFPositionOne]
ALIAS=PositionOne
TAG_TYPE=FIELD
TAG_LEADIN=PositionOne
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFPositionTwo]
ALIAS=PositionTwo
TAG_TYPE=FIELD
TAG_LEADIN=PositionTwo
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFSchool]
ALIAS=School
TAG_TYPE=FIELD
TAG_LEADIN=School
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFSignerOne]
ALIAS=SignerOne
TAG_TYPE=FIELD
TAG_LEADIN=SignerOne
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFSignerTwo]
ALIAS=SignerTwo
TAG_TYPE=FIELD
TAG_LEADIN=SignerTwo
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFSignpage]
ALIAS=Signpage
TAG_TYPE=FIELD
TAG_LEADIN=Signpage
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFTaginformation]
ALIAS=Tag Information
TAG_TYPE=FIELD
TAG_LEADIN=Tag Information
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFTcopyright]
ALIAS=The Copyright
TAG_TYPE=FIELD
TAG_LEADIN=The Copyright
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFThesisauthor]
ALIAS=Thesis Author
TAG_TYPE=FIELD
TAG_LEADIN=Thesis Author
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFThesisdate]
ALIAS=Thesis Date
TAG_TYPE=FIELD
TAG_LEADIN=Thesis Date
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFThesisreq]
ALIAS=Thesis requirements: 
TAG_TYPE=FIELD
TAG_LEADIN=Thesis requirements: 
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFThesistitle]
ALIAS=Thesis Title
TAG_TYPE=FIELD
TAG_LEADIN=Thesis Title
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFTitle]
ALIAS=Title:
TAG_TYPE=FIELD
TAG_LEADIN=Title:
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[NFUniversity]
ALIAS=University
TAG_TYPE=FIELD
TAG_LEADIN=University
TAG_BEHAVIOR=NOSTRUCTURETAGS|NOENVTAGS


[TituloSumario]
ALIAS=TituloSumario
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[apendix]
ALIAS=apendix
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[apendixsection]
ALIAS=apendixsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=2
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=18


[apendixsubsection]
ALIAS=apendixsubsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=3
FONT_FACE=Times New Roman
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=14


[apendixsubsubsection]
ALIAS=apendixsubsubsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[bibsection]
ALIAS=bibsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[chapter]
ALIAS=chapter
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[contentssection]
ALIAS=contentssection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=1
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=24


[paragraph]
ALIAS=subsubsubsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=5
FONT_FACE=Times New Roman
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1


[section]
ALIAS=section
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=2
FONT_FACE=Arial
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=18


[subsection]
ALIAS=subsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=3
FONT_FACE=Times New Roman
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1
FONT_SIZE=14


[subsubsection]
ALIAS=subsubsection
TAG_TYPE=STRUCTURE
NEXT_TAG=Body Text
TAG_BEHAVIOR=NOENVTAGS
TAGLEVEL=4
FONT_FACE=Times New Roman
TEXT_COLOR=R:0 G:0 B:255
MATH_COLOR=R:255 G:0 B:0
FUNCTION_COLOR=R:128 G:128 B:128
ITALICS_IN_MATH=1


[squeeze]
ALIAS=squeeze
TAG_TYPE=TEXT
FONT_WEIGHT=400
FONT_SLANT=0
FONT_FACE=
TEXT_COLOR=R0,G0,B0
MATH_COLOR=R0,G0,B0


[xyz]
ALIAS=xyz
TAG_TYPE=TEXT
FONT_WEIGHT=400
FONT_SLANT=0
FONT_FACE=Times New Roman
TEXT_COLOR=R0,G0,B0
MATH_COLOR=R0,G0,B0


[FKEYS]
F2=(Remove Item Tag)
F3=Body Text
F4=(Normal)
F5=Bold
F6=Emphasize
F7=Numbered item
F8=Bullet item
F9=Calligraphic
F10=
F11=section
F12=subsection
